  <h1>Sign Up</h1><br>

  <form id="formSignUp" method="post" action="/users">
    <label class="label" for="name">Name</label>
    <input type="text" name="name" placeholder="e.g., Kevin" >
    <br>

    <label class="label" for="email">Email</label>
    <input type="email" name="email" placeholder="e.g., kevin@example.com" >
    <br>

    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="8 characters or more">
    <br>

    <div class="submit"><input type="submit" value="Sign Up"></div>
  </form>

